<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISIT310_HW5.Properties.Settings.BirdsConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Birds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISIT310_HW5.Properties.Settings.BirdsConnectionString1"
            connectionString="Data Source=THOTH;Initial Catalog=Birds;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>